body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(99,226,255,1) 100%);
    background-size:cover ;
    width: 100%;
}
main{
    display: flex;
    flex-direction: row;
}

main h2{
    font-weight: 700;
}

header{
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 0 20px 0.5px rgba(0, 0, 0, 0.297);
}

header h1{
    font-weight: 700;
    padding: 20px;
}

header span{
    color: #0080ff;
}
@media (min-width: 768px) {
    #mobile-template {
        display: none; /* Sembunyikan template untuk smartphone pada tampilan desktop */
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .container {
        display: inline-block;
    }
     
}

/* Gaya khusus untuk smartp hone */
@media (max-width: 767px) {
    #desktop-template {
        display: none; /* Sembunyikan template untuk desktop pada tampilan smartphone */
    }
    
    body {
        display: flex;
        flex-direction: column;
    }
    .container {
        display: inline-block;
    }
    
    header h1{
        font-size: 24px;
        font-weight: 700;
        padding: 20px;
    }

    .mobile{
     background-color: transparent;
    }

}
