*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100%;
}
body{
    background: rgb(255,255,255) ;
    background: linear-gradient(135deg, rgba(255,255,255,1) 51%, rgba(134,235,255,1) 100%);
    background-size:cover ;
}

header{
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}

header span{
    color: #0080ff;
}

main{
    display: flex;
    flex-direction: row;
    margin: 30px 100px 70px;
}

main .image{
    width: 70%;
    border-radius: 20px;
    overflow: hidden;
}

main .image img{
    width: 100%;
    transition: all 0.2s ease-in-out;
}

main .card{
    width: 30%;
    border-radius: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

}

main .card h1{
    font-size: 70px;
}

main .card .login{
    font-size: 24px;
    font-weight: 400;
    width: 50%;
    text-align: center;
    text-decoration: none;
    background-color: #00cfff;
    color: white;
    border-radius: 10px;
    margin: 20px auto 15px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

main .card .register{
    font-size: 20px;
    width: 40%;
    text-align: center;
    text-decoration: none;
    color: #00cfff;
    transition: all 0.2s ease-in-out;
}

main .image:hover img{
    transform: scale(1.15);
}

main .card:hover{
    box-shadow: 0 0 20px 5px #75d6ff;
}

main .card .login:hover{
    background-color: #9aecff;
    color: white;
}

main .card .register:hover{
    color: #ffffff;
    text-shadow: 0 0 20px #0089de;
}

@media screen and (max-width: 850px){
    body{
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(87,223,255,1) 100%);
    }

header{
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
}

header span{
    color: #0080ff;
}

main{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

main .image{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

main .image img{
    width: 100%;
    transition: all 0.2s ease-in-out;
}

main .card{
    width: 90%;
    border-radius: 20px;
    margin: 50px 10px;
    padding: 100px;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

main .card h1{
    font-size: 70px;
}

main .card .login{
    font-size: 25px;
    width: 100%;
    margin: 20px 10px 15px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

main .card .register{
    font-size: 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #00cfff;
    transition: all 0.2s ease-in-out;
}
}